#header {
    background-image: url(./images/green.png);
    background-size: cover;
    text-align: center;
    color: #404638;
    height: 200px;
    font-size: 0.75cm;
    line-height: 150px;
    width: auto;
}


h1 {
    text-align: center;
    color: darkolivegreen;
}

body {
    background-color: rgb(181, 207, 171);
    color: darkolivegreen;
}

#navbar {
    background-color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    display: flex;
    width: auto;
}

.nav ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.nav {
    background-color: darkolivegreen;
    margin-left: auto;
    margin-right: auto;
    padding-left: 150px;
    width: 200px;
    height: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    color: lightgoldenrodyellow;
    border-radius: 50%;
    padding-top: 10px;
}

/* to style the background of the menu*/
#navbar ul {
    background-color: beige;
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

/* to make the text light tan by default*/
.nav a {
    color: tan;
}

/*to make the text yellow when hovered on*/
.nav a:hover {
    color: lightgoldenrodyellow;
}

    /* Tablets: Screen Sizes ≤ 991px */
    @media ( max-width: 991px ) {

        .nav {
            
            position: relative;
            padding-left: 50%;
        }

        #navbar {
            position: relative;
        }

        @media ( max-width: 767px ) {

            .nav {
                
                position: relative;
                padding-left: 20%;
            }
    

        }

    }